<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf "th:fragment", "th:replace" and "th:insert" Attributes with Fragment Expression "~{}"</title>

    <!-- Link Expression to Point External CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- 
        Thymeleaf "th:href" Attribute with Link Expression "@{}" : 
        Allows to Display a Thymeleaf Fragment into another Web Page.
    -->
    <h1>Thymeleaf "th:fragment", "th:replace" and "th:insert" Attributes with Fragment Expression "~{}"</h1>
    <!-- <div th:insert="~{common/fragments/header :: header}"></div> -->
    <div th:replace="~{common/fragments/header :: header}"></div>
    <div>Main Content Goes There.</div>
    <!-- <div th:insert="~{common/fragments/footer :: footer}"></div> -->
    <div th:replace="~{common/fragments/footer :: footer}"></div>
</body>

</html>