<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf "th:href" Attribute with Link Expression "@{}"</title>
</head>

<body>
    <!-- 
        Thymeleaf "th:href" Attribute with Link Expression "@{}" : 
        Allows to Display a Url.
    -->
    <h1>Thymeleaf "th:href" Attribute with Link Expression "@{}"</h1>
    <p><a th:href="@{/variable-expression}">Variable Expression</a></p>
    <p><a th:href="@{/selection-expression}">Selection Expression</a></p>
    <p><a th:href="@{/message-expression}">Message Expression</a></p>
    <p><a th:href="@{/link-expression}">Link Expression</a></p>
    <p><a th:href="@{/link-expression/{id}(id=${id})}">Link Expression with Parameter</a></p>
</body>

</html>